<footer class="footer">
    <p>
      <i class="fas fa-book"></i>
      <i class="fas fa-book"></i>
      <i class="fas fa-book"></i>
      <i class="fas fa-book"></i>
      <i class="fas fa-book"></i>
    </p>
    <p>Copyright © 2024. BookLovers Company Pte Ltd. 123456789M All Rights Reserved.</p>
</footer>
  